#MainPortGenreList-container {
    display: block;
    text-align: center;
}

.genrePhoto {
    max-width: 40rem;
    max-height: 25rem;
    margin: 0.25rem;
}
.genrePhoto:hover {
    cursor: pointer;
}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 899px) {

    #MainPortGenreList-container {
        margin: 0;
        padding: 0;
    }

    .genrePhoto {
        margin: 0.25rem 0;
        width: 100%;
        max-height: unset;
    }

}