.megatron {
    text-align: center;
    padding: 8rem 0 0 0;
    margin-bottom: 7rem;
}

.megaImg {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0.25rem 0.20rem 1rem #7b7c7c;
}

.megaTitle {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 3rem auto 0 auto;
}

.megaSubtitle {
    font-size: 5rem;
    font-weight: 700;
    width: 60%;
    margin: -0.5rem auto 0 auto;
}



/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 768px) {

    .megatron {
        text-align: center;
        padding: 2rem 0 0 0;
        margin: 0 auto 2rem auto;
    }

    .megaTitle {
        font-size: 2.6rem;
    }
    
    .megaSubtitle {
        font-size: 1.6rem;
        width: 90%;
    }

}