#categoryTitle {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    text-align: center;
}

#seeMore {
    font-size: 2.25rem;
    text-align: center;
    margin: 1.5rem 0;
}