#about-container h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    padding-top: 1.25rem;
}

#about-container p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 1rem;
    max-width: 50%;
}

#aboutProfile {
    width: 30rem;
    float: right;
    padding-left: 3rem;
    padding-bottom: 3rem;

    animation: fadeInAnimation ease 1s 
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

/* ---------------------- */
/* ---------------------- */
/* ---- DESKTOP ONLY ---- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 1300px) {

    #aboutContainer h1 {
        max-width: 40%;
    }
  
}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 899px) {

    #aboutProfile {
        max-width: 95%;
        object-fit: cover;
        display: block;
        margin: 0 auto 1rem auto;
        float: unset;
        padding: unset;
    }

    #about-action * {
        display: block;
        margin: 0 auto;
    }

}



/* @media (prefers-color-scheme: dark) {

    #about-container p {
        font-weight: 200;
    }
    
} */