#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
}

#modal-close {
    border: none;
    background-color: transparent;
    font-size: 2.3rem;

    position: absolute;
    top: 0.25rem;
    right: 1.25rem;
}
#modal-close:hover {
    cursor: pointer;
    color: rgb(173, 196, 208);
    transition: ease-in 130ms;
}

#modal-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 45rem;
}

#carousel-nav {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    width: fit-content;
    font-size: 1.5rem;
}
#carousel-nav span {
    margin: 1rem;
}
#carousel-nav span:hover {
    cursor: pointer;
}

.modalVisible {
    opacity: 1;
}
.modalInvisible {
    opacity: 0;
}
