#main {
    justify-content: space-between;
}

#mainPhoto {
    width: 30rem;
    max-height: 39rem;
    object-fit: cover;
    animation: fadeInAnimation ease 1.5s 
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

#main-text {
    display: block;
}
#main-text h1 {
    font-size: 5rem;
    font-weight: 800;
    margin-top: -0.75rem;
    word-spacing: -0.55rem;
}
#main-text h2 {
    font-size: 3rem;
    margin-right: 0.5rem;
}
#main-text p {
    font-size: 1.5rem;
    margin: 2.5rem 0 0 0;
}

.workSample {
    max-width: 100%;
    object-fit: cover;
    margin: 3rem 0;
}

/* ---------------------- */
/* ---------------------- */
/* ---- DESKTOP ONLY ---- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 1300px) {

    #main {
        display: flex;
        margin-bottom: 7rem;
    }

    #main-text {
        text-align: right;
        margin: auto 0 5rem 0;
    }
    #main-text p {
        float: right;
        max-width: 60%;
    }

    #scrollForMore {
        font-size: 1.3rem;
        width: fit-content;
        position: absolute;
        bottom: 1.5rem;
        left: 46%;
        right: 50%;
        animation: animate 3s linear infinite;
    }
    @keyframes animate { 
        0% { 
          opacity: 0.5; 
        }
    
        50% { 
          opacity: 0.9; 
        }
    
        100% { 
          opacity: 0.5; 
        }
      } 

}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 769px) and (max-width: 1299px) {

    #main {
        display: flex;
        margin-bottom: 2rem;
    }

    #mainPhoto {
        width: 30rem;
        max-height: 39rem;
        margin: 0 1rem;
    }

    #main-text {
        text-align: right;
        margin: auto 2rem 5rem 0;
    }

    #main-text p {
        float: right;
        max-width: 80%;
    }

    #scrollForMore {
        display: none;
    }
  
}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 899px) {

    #main {
        display: block;
        margin-bottom: 5rem;
    }

    #mainPhoto {
        width: 100%;
        max-height: 30rem;
    }

    #main-text {
        text-align: right;
        margin: 0;
        width: 100%;
    }
    #main-text h1 {
        font-size: 5rem;
        margin-top: -1.25rem;
    }
    #main-text h2 {
        font-size: 3rem;
        margin-left: 15%;
    }
    #main-text p {
        font-size: 1.7rem;
        text-align: center;
        max-width: unset;
        margin: 2rem 0 0 0;
    }

    .workSample {
        max-width: 100%;
        object-fit: cover;
        margin: 0.25rem 0;
    }

}