#main {
    display: flex;
    justify-content: space-between;
}

.mainPhoto {
    max-width: 40rem;
    max-height: 80vh;
    object-fit: cover;
    animation: fadeInAnimation ease 1.5s 
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

#main-text {
    display: block;
    text-align: right;
    margin: auto auto 2rem auto;
}
#main-text * {
    max-width: 90%;
    float: right;
}
#main-text h1 {
    font-size: 5rem;
    font-weight: 800;
    line-height: 80%;
    word-spacing: -0.55rem;
}
#main-text h2 {
    font-size: 3rem;
}
#main-text p {
    font-size: 1.5rem;
    margin: 2rem 0 0 0;
    max-width: 90%;
}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 769px) and (max-width: 1299px) {

    .mainPhoto {
        max-width: 25rem;
        max-height: 39rem;
    }

    #main-text h1 {
        font-size: 3.5rem;
    }
    #main-text h2 {
        font-size: 2.5rem;
    }
  
}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 899px) {

    #main {
        display: block;
    }

    .mainPhoto {
        max-width: 100%;
        width: 100%;
    }

    #main-text {
        margin: 1rem 3%;
        display: block;
    }
    #main-text * {
        max-width: 100%;
        float: left;
        clear: both;
    }
    #main-text h1 {
        font-size: 3rem;
        margin: 0;
    }
    #main-text h2 {
        font-size: 2rem;
        margin: 0;
    }
    #main-text p {
        font-size: 1.6rem;
        text-align: left;
        max-width: 100%;
        margin: 2rem 0 4rem 0;
    }

}