#navBar-container {
    margin: 2rem 8rem 1rem 8rem;
    padding: 0.75rem 1rem;
}

#navBar-desktop {
    display: flex;
    justify-content: space-between;
}

#siteTitle h1 {
    font-size: 1.8rem;
    font-weight: 800;
    color: black;
}

#navList-desktop {
    display: flex;
}
#navList-desktop li a {
    font-size: 1.5rem;
    font-weight: 300;
    margin-right: 2.5rem;
    color: black;
    text-transform: lowercase;
}
#navList-desktop li:last-child {
    margin-right: 0;
}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 769px) and (max-width: 1299px) {

    #navBar-container {
        margin: 2rem 1rem 1rem 1rem;
    }
  
}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 899px) {

    #navBar-container {
        text-align: center;
        margin: 0.9rem 2rem 1rem 2rem;
        padding: 0;
        border-radius: 10px;
        justify-content: space-around;
    }

    #navBar-mobile {
        display: flex;
    }
    #menuIcon {
        width: 2.3rem;
        float: left;
        margin: auto -1rem;
    }

    #navBar-mobile h1, #navBar-mobile a {
        font-size: 1.3rem;
        font-weight: 400;
        color: black;
        margin: auto;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 0.22rem;
    }

    #mobile-nav li {
        display: block;
        padding: 0.2rem 0;
        text-align: left;
    }
    #mobile-nav li:nth-child(1) {
        padding: 0.75rem 0 0.2rem 0;
    }
    #mobile-nav li a {
        font-size: 1.6rem;
        font-weight: 200;
        color: black;
    }

}