/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

a {
    color: #1389d3;
    text-decoration: none;
    font-weight: 400;
}
a:hover {
    color: #209ce9;
    cursor: pointer;
    text-decoration: none;
}

p {
    color: rgb(47, 47, 47);
}

ul {
    list-style: none;
}

.visible, .visible * {
    display: unset;
}
.invisible, .invisible * {
    display: none;
}



/* @media (prefers-color-scheme: dark) {

    * {
        color: white;
    }
    
    body {
        background-color: black;
    }

    p {
        color: white;
    }
    
} */

/* ---------------------- */
/* ---------------------- */
/* ---- DESKTOP ONLY ---- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 1300px) {

    .mobileOnly, .mobileOnly * {
        display: none;
    }

    .pageContent {
        margin: 2rem 10% 6rem 10%;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 769px) and (max-width: 1299px) {

    .mobileOnly, .mobileOnly * {
        display: none;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 768px) {

    body {
        margin: 0 1% 2rem 1%;
    }

    .desktopOnly, .desktopOnly * {
        display: none;
    }

    .pageContent {
        margin: 0 1%;
    }

}