#portfolioGenres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

/* ---------------------- */
/* ---------------------- */
/* ---- DESKTOP ONLY ---- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 1300px) {

    #portfolioGenres img {
        border-radius: 50%;
        width: 12.25rem;
        height: 12.25rem;
        margin: 0.5rem 1rem;
        object-fit: cover;
    }

    #portfolioGenres p {
        font-size: 1.8rem;
        width: fit-content;
        text-transform: capitalize;
        margin: 0 auto;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 769px) and (max-width: 1299px) {

    #portfolioGenres {
        margin-top: 2rem;
    }
    
    #portfolioGenres img {
        border-radius: 10px;
        width: 25rem;
        height: 15rem;
        margin: 1rem;
        object-fit: cover;
    }
    
    #portfolioGenres p {
        font-size: 1.5rem;
        font-weight: 400;
        color: white;
        position: absolute;
        bottom: 1.25rem;
        left: 1rem;
        padding: 0.4rem 0.75rem 0.5rem 0.75rem;
        background-color: rgb(0, 0, 0, 0.3);
        backdrop-filter: blur(3px);
        border-radius: 5px;
        width: fit-content;
        text-transform: capitalize;
    }

    #portfolioGenres li {
        text-align: left;
        margin: 0;
        position: relative;
    }
  
}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 899px) {

    #portfolioGenres {
        margin-top: 2rem;
    }
    
    #portfolioGenres img {
        border-radius: 10px;
        max-width: 100%;
        width: 25rem;
        height: 15rem;
        margin-bottom: 0.75rem;
        object-fit: cover;
    }
    
    #portfolioGenres p {
        font-size: 1.5rem;
        font-weight: 400;
        color: white;
        position: absolute;
        bottom: 0;
        margin-bottom: 1rem;
        padding: 0.4rem 0.75rem 0.5rem 0.75rem;
        background-color: rgb(0, 0, 0, 0.3);
        backdrop-filter: blur(3px);
        border-radius: 5px;
        width: auto;
        text-transform: capitalize;
    }

    #portfolioGenres li {
        text-align: left;
        margin: 0;
        position: relative;
    }

}